.footer{
  .container-big{
    background-color: $very-dark-grey;
  }

  &__container{
    padding: 35px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu{
    display: flex;
    align-items: center;
    gap: 59px;
  }

  &__menu-img{
    max-width: 108px;
    width: 100%;
    height: 27px;
  }

  &__icon-list{
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__icon-img{
    color: $orange;

    &:hover{
      color: $light-grey;
    }
  }
}

@media only screen and (max-width: 1010px){
  .footer{
    .container{
      max-width: 900px;
    }
  }

}

@media only screen and (max-width: 900px){
  .footer{
    .container{
      max-width: 800px;
    }
  }
}

@media only screen and (max-width: 580px){
  .footer{

    &__container{
      padding: 88px 0 88px;
      flex-direction: column;
      gap: 85px;
    }

    &__menu{
      gap: 41px;
      flex-direction: column;
    }

    &__nav-list{
      flex-direction: column;
      align-items: center;
    }
  }
}