.header{

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
  }

  &__menu{
    display: flex;
    align-items: center;
    gap: 58px;
  }

  .menu-img{
    max-width: 108px;
    width: 100%;
    height: 27px;

  }

}
.nav{
  @include nav;
}
.button{
  @include button;
}