.payments{
  margin-bottom: 160px;

  .container-big{
    position: relative;

    &::before{
      content: "";
      position: absolute;
      top: 0;
      right: 93%;
      display: inline-block;
      width: 445px;
      height: 445px;
      background-image: url("./../../images/circle-bg.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 93%;
      display: inline-block;
      width: 445px;
      height: 445px;
      background-image: url("./../../images/circle-bg.png");
      background-repeat: no-repeat;
      background-position-x: center;
      z-index: -1;
    }
  }



  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item:not(:last-child){
    margin-bottom: 160px;
  }

  &__item-box-image{
    position: relative;

    &::before{
      content: "";
      position: absolute;
      top: 0;
      right: calc(50% + 10px);
      display: inline-block;
      width: 355px;
      height: 147px;
      background-image: url("./../../images/arrow-right-payments.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &__item-wrapper{
    max-width: 445px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__box-img{
    max-width: 445px;
    width: 100%;
    border-radius: 50%;
  }

  &__item-wrapper-title{
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: $dark-navy;
    margin-bottom: 24px;
  }

  &__item-wrapper-text{
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: $dim-grey;
    margin-bottom: 40px;
  }

  &__item:nth-child(even) &__item-box-image{
    order: 1;
    transform: scaleX(-1);

    &::before{
      top: 92px;
      z-index: 2;
    }
  }

}

@media only screen and (max-width: 1000px){
  .payments{
    margin-bottom: 160px;

    .container-big{

      &::before{
        content: "";
        right: 97%;
        width: 300px;
        height: 300px;
      }

      &::after{
        display: none;
      }
    }

    .container{
      max-width: 900px;
    }

    &__item-box-image{

      &::before{
        right: calc(50% + 0px);
        max-width: 170px;
        height: 115px;
        background-size: cover;
        background-position-x: right;
      }
    }

    &__item-wrapper{
      max-width: 430px;
    }

    &__box-img{
      max-width: 300px;
    }

    &__item:nth-child(even) &__item-box-image{

      &::before{
        top: 40px;
      }
    }

  }

}

@media only screen and (max-width: 768px){
  .payments{
    margin-bottom: 140px;

    .container{
      max-width: 620px;
    }

    &__item{
      display: flex;
      flex-direction: column;
    }

    &__item-box-image{

      &::before{
        right: calc(50% + 0px);
        max-width: 300px;
        height: 145px;
      }
    }

    &__box-img{
      max-width: 445px;
      margin-bottom: 64px;
    }

    &__item-wrapper{
      max-width: 580px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__item-wrapper-title{
      padding: 0 40px;
    }

    &__item:nth-child(even) &__item-box-image{
      order: -1;
      &::before{
        top: 40px;
      }
    }

  }

}


@media only screen and (max-width: 580px){
  .payments{
    margin-bottom: 140px;

    .container{
      max-width: 500px;
    }

    &__item-box-image{

      &::before{
        max-width: 180px;
      }
    }

    &__box-img{
      max-width: 280px;
    }

    &__item-wrapper-title{
      padding: 0 40px;
      font-size: 35px;
      line-height: 35px;
    }

  }

}

@media only screen and (max-width: 400px){
  .payments{
    margin-bottom: 130px;

    &__item-box-image{

      &::before{
        max-width: 170px;
        background-size: contain;
      }
    }

    &__box-img{
      max-width: 250px;
    }

    &__item-wrapper-title{
      font-size: 32px;
      line-height: 32px;
    }
  }
}